Checks: [
    '*',
    '-altera-*',
    "-bugprone-easily-swappable-parameters",
    "-bugprone-multi-level-implicit-pointer-conversion",
    '-cppcoreguidelines-avoid-non-const-global-variables',
    "-cppcoreguidelines-interfaces-global-init",
    "-cppcoreguidelines-avoid-magic-numbers",
    "-cppcoreguidelines-init-variables",
    "-cppcoreguidelines-macro-to-enum",
    "-concurrency-mt-unsafe",
    "-google-readability-todo",
    "-hicpp-no-assembler",
    '-llvmlibc-*',
    '-llvm-header-guard',
    "-modernize-macro-to-enum",
    "-readability-magic-numbers",
    "-readability-identifier-length",
    # We are fine with rand()
    "-cert-msc30-c", "-cert-msc50-cpp",
    # It is safe to use reserved identifiers, because we are who implementing
    # the system.
    '-bugprone-reserved-identifier', "-cert-dcl37-c", "-cert-dcl51-cpp",
    # TODO: implement safer replacement for memcpy, memset, etc...
    "-clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling"
]

CheckOptions:
    readability-function-cognitive-complexity.IgnoreMacros: true
    hicpp-signed-bitwise.IgnorePositiveIntegerLiterals: true
