.cache
.vscode
compile_commands.json
customrootfs/*
out/
include/kernel/version.h
kernel/shell/kdoom/thirdparty/PureDOOM.h
support/thirdparty/terminus-font-*/*.psf
support/rootfsmount
harddisk.img
**/__pycache__