.cache
.vscode
**/__pycache__
compile_commands.json
customrootfs/*
harddisk.img
include/kernel/version.h
kernel/shell/kdoom/thirdparty/PureDOOM.h
out/
support/thirdparty/terminus-font-*/*.psf
support/rootfsmount
toolchain